/* gold color code #FFD700**/

html {
    box-sizing: border-box;
    overflow-x: hidden;
  }
  
  
  body{
      margin: 0;
      /* overflow-x: hidden; */
  }

  .header{
    display: flex;
    height: 65px;
    width: 100%;
    border: 2px solid gold;
    align-items: center;
    background-color: black;
    padding-right: 20px;;
    position: fixed;
  }
.logo {
    border: 2px solid blue;
    width: 100px;
    height: 70px;
    margin-left: 5px;
}
  .page-links {
    border: 2px solid red;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 50px;
    font-size: 1.5rem;
    color:aliceblue;
  }
  .page-links > a {
    color: aliceblue;
    text-decoration: none;
  }
  .login {
    border: 2px solid blue;
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 20px;
  }

  .reg-container{
    display: flex;
    height: auto;
    padding-bottom: 20px;
    width: 100%;
    background-image: url("/images/Untitled\ design\ \(2\).png");
    background-size: cover;
  }
  .reg{
    width: 50%;
    border: 2px solid green;
    color:aliceblue;
    padding: 60px 0px 0px 80px;
  }
  .hamburger{
    display: none;
  }

  h1{
    font-size: 4.2rem;
  }
  .trade-text{
    font-size: 1.4rem;
  }
  .reg-home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px
  } 

  .register{
    background-color: #FFD700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    text-align: center;
    width: 150px;
    border-radius: 10px;
    font-size: 1.5rem;
    border: 2px solid #FFD700;
    text-decoration: none;
    color: black;
  }
  .register:hover {
    background-color: black;
    color: white;
    border: 2px solid #0f8f04;
  }
  .demo {
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: 2px solid #FFD700;
    border-radius: 10px;
    color: white;
    font-size: 1.3rem;
    text-decoration: none;
  }
  .demo:hover {
    /* background-color: #FFD700; */
    color:  #FFD700;
    border: 2px solid antiquewhite;
  }
  /* a { */
    /* text-decoration: none; */
  /* } */

.withdraw{
    width: 100%;
    text-align: center;
    background-color: #064d00;
    color: antiquewhite;
    height: 500px;
    padding: 60px 10px 0px 20px;
}
h2{
    font-size: 3rem;
}
.note {
    font-size: 1.4em;
   
}
.li:hover {
    text-decoration: underline;
}
.li {
    color:#FFD700;
    text-decoration: none;
}
.learn-more {
    color: blue;
}
.fa-brands, .fa-solid {
    font-size: 5rem;
    padding-left: 40px;
}

.vps-container {
    display: flex;
    width: 100%;
    height: 300px;
    border: 2px solid red;

}
.first-vps, .second-vps {
    width: 50%;
    border: 2px solid green;
    padding: 20px 0px 0px 5%;
}
.first-vps {
    background-color: #FAE392;
}
.second-vps {
    background-color:#FBD85D;
}
h3 {
    font-size: 1.6rem;
}
.vps-text {
    font-size: 1.3rem;
}
.vps-link{
    color: green;
    font-size: 1.3rem;
}
.vps-link:hover{
    font-size: 1.5rem;
}

.stock-div {
    width: 100%;
    text-align: center;
    height: auto;
    background-color: #F3FDE8;
    padding-bottom: 20px;

}
.c-con {
    background-color: white;
    padding-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}
.stock-container {
    height: auto;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px;
    gap: 30px;
    border:2px solid orange;
    justify-content: center;
}
h2 {
    margin-top: 0px;
    padding-top: 20px;
    padding-bottom: 00px;
}

.account-container {
    width: 100%;
    display: grid;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.account-container  h4 {
    font-size: 3rem;
}

.account-container p {
    font-size: 1.3rem;
}
.acct {
    background-color: #FAE392;
    padding-left: 100px;
    padding-right: 50px;
    padding-bottom: 50px;
}
.account-two {
    background-color: #F1C93B;
}

.one-link {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-size: 1.2rem;
    border: 2px solid #443b06;
    text-decoration: none;
    color: #443b06;
}
.one-link:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1.3rem;
}
.two-link {
    display:flex;
    align-items: center;
    justify-content: center;    
    height: 50px;
    width: 150px;
    border-radius: 10px;
    font-size: 1.2rem;
    border: 2px solid black;
    text-decoration: none;
    color: black;
}
.two-link:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   font-size: 1.3rem;
}
.stats {
    display: flex;
    width: 100vw;
    text-align: center;
    background-color: #0f8f04;
    color: antiquewhite;
    padding: 30px 0px 0px 200px;
}
.stats h6 {
    font-size: 2.7rem;
    margin-bottom: 0px;
    margin-top: 10px;
}
.stats-figure{
    border: 2px solid blue;
}
.stats-figure > p {
    font-size: 1.1rem;
    margin-bottom: 50px;
  
}
.social-con{
    margin-left: auto;
    margin-right: 400px;
    border: 2px solid red;
    padding-left: 50px;

}
.social-container img {
    width: 30px;
}

.join {
    font-size: 1.5rem;
}
.about-us {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px;
    gap: 30px;
    padding: 20px 0px 50px 50px ;
    background-color: #FBD85D;
}
h5 {
    font-size: large;
    margin-bottom: 10px;
}
.about-us > div {
    font-size: 1.1rem;
}
.about-us p {
    margin-bottom: 0px;
    margin-top: 5px;
}
footer {
    background-color: #FAE392;
    font-size: 1.2rem;
    font-weight: 700;
}
.left {
    display: flex;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    border-top: 2px solid gray;
    gap: 20px;
    
}
.right {
    display: inline-block;
    margin-left: auto;
    margin-right: 70px;
}
.fa-solid {
    color: yellow;
    width: 30px;
}


@media (min-width: 100px) and (max-width: 1150px){
    h1{
        font-size: 3.8rem;
    }
    .register{
        height: 40px;
        width: 120px;
        border-radius: 4px;
      }
      .demo {
        height: 40px;
        width: 120px;
        border-radius: 4px;
      }
    .page-links {
        font-size: 1.3rem;
    }
    .reg{
        width: 48%;
    }
    .stats {
        display: flex;
        width: 100vw;
        gap: 30px;
        text-align: center;
        background-color: #0f8f04;
        color: antiquewhite;
        padding: 30px 0px 0px 100px;
    }
    .social-con {
        width: 300px;
        margin-right: 200px;
    }
}


@media (min-width: 830px) and (max-width: 1000px){
    h1{
        font-size: 3.2rem;
    }
    .logo {
        border: 2px solid blue;
        width: 80px;
        height: 50px;
        margin-left: 5px;
    }
    .page-links {
        font-size: 1.25rem;
        gap: 25px;
    }
    .register{
        height: 30px;
        width: 100px;
        border-radius: 4px;
        font-size: 1rem;
      }
      .demo {
        height: 30px;
        width: 100px;
        border-radius: 4px;
        font-size: 1rem;
      }
      .stock-container {
        grid-template-columns: 200px 200px 200px;
        grid-template-rows: 300px;
    }
    .account-container  h4 {
        font-size: 2.4rem;
    }
    
    .account-container p {
        font-size: 1.1rem;
    }
    .one-link, .two-link {
        height: 40px;
        width: 120px;
    }
    .stats {
        display: flex;
        width: 100vw;
        gap: 30px;
        text-align: center;
        background-color: #0f8f04;
        color: antiquewhite;
        padding: 30px 0px 0px 100px;
    }
    .stats-figure {
        width: 700px;
    }
    .social-con {
        width: 500px;
        margin-right: 200px;
    }
    .about-us {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px;
        gap: 15px;
        padding: 0px 0px 60px 20px ;
        background-color: #FBD85D;
    }
    .left {
        font-size: 1rem;
        padding-left: 20px;
    }
}


@media (max-width: 830px)  {
    h1{
        font-size: xx-small;
    }
    .page-links{
        display: none;
    }
    .login {
        display: none;
    }
    .hamburger{ 
        display: block;
        margin-left: auto;
        padding-right: 50px;
    }
    .fa-bars {
        color: #FFD700;
    }
}